@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

img.sell3a {
    max-width: 10rem;
    height: auto;
}

.filament-main-topbar {
    position: relative;
}
